html{
    min-height: 100%;
    position: relative;
}

header{
    background: #F2CF8D;
}

.navbar{
    background: #C99B6A;
}

#nav2{
    background: #ff9393;
}

#btn-search,#cart,#btn-mlistas,#btn-enlistas{
    color:#fff;
    background: #106973;
    border:none;
}

#cart img{
    filter:invert(1);
}

#cart:hover,#btn-search:hover,#btn-mlistas:hover,#btn-enlistas:hover{
    background: rgb(19, 179, 152);
}

#cart:hover img{
    transform: scale(1.2);
}

body{
    background: #F2F1EB !important;

}

#componente0:hover{
    color:#fff;
background: rgb(19, 179, 152);
}

#componente2:hover{
    color:#fff;
    background: rgb(19, 179, 152);
    }

    #componente3:hover{
        color:#fff;
        background: rgb(19, 179, 152);
        }

        #componente4:hover{
            color:#fff;
            background: rgb(19, 179, 152);
            }

            #componente5:hover{
                color:#fff;
                background: rgb(19, 179, 152);
                }

            .dropdown-menu a{
                transition: .5s all ease-in-out;
            }
            
            .dropdown-menu a:hover{
                box-shadow: 0 0 10px rgb(109, 224, 205);
                transition: .5s all ease-in-out;
                margin-left: 18px;
                border-radius: 0 50px 50px 0;
                background: rgb(19, 179, 152);
                color:#fff
}

footer{
    background: #ff9393;
    position: absolute;
  bottom: 0;
  width: 100%;
}

footer a,li{
    color:#fff;
}

#btn_delete img,#btn_edit img,#btn_aprobar img{
    filter: invert(1);
}

#btn_aprobar{
    color:#fff;
    background: #106973;
    border:none;
}

#btn_aprobar:hover{
    background: rgb(19, 179, 152);
}
